/*======================custom css ==============================*/

span.arrow_carrot-right {
    right: 25px;
    position: absolute;
    line-height: 30px;
    font-size: 18px;
}


/*==========saas_banner_area_two element_subs_page css ===========*/

.section_container.Sass_he {
    height: 500px;
}

.section_container .intro.Subs_ele_cus {
    height: 74%;
}

/*===========saas_home_area element_subs_page css ===========*/
.saas_home_area.Cus_subs_Ele {
    height: auto;
}

.banner_top.Banner_top_bo {
    padding: 115px 0 128px;
}

/*===========prototype_banner_area element_subs_page css ===========*/
.prototype_banner_area.Pro_to-Bo {
    padding: 120px 0 130px;
}

/*===========testimonial element_subs_page css ===========*/
.payment_testimonial_area .testimonial_img.Cus_test_img {
    margin-bottom: 0;
}

/*===========blockquote element_subs_page css ===========*/
.blog_area.sec_pad.cus_ptB_Bl {
    padding: 120px 0 75px;
}

.blog_content.cus_p {
    padding: 0;
}

/*===========blockquote element_subs_page css ===========*/
.Cus_col {
    color: #222d39;
}

.software_featured_area.Cus_head_ele {
    padding: 120px 0 130px;
}

/*===========Custom_button element_page css ===========*/
.Custom_button {
    padding: 100px 0 120px;
}

.nav_right_btn .login_btn.Cus_bbtn {
    background: #4069eb;

}

.nav_right_btn .login_btn.Cus_bbtn:hover {
    color: #fff;

}

.Cus_bl {
    display: block;
}

.cus_mb-10 {
    margin-bottom: 30px;
}

.mt_c20 {
    margin-top: 0px;
}

.pay_btn.pay_btn_two.cus_mb-10 {
    margin-left: 0;
}

/*===========integration-element-page ===========*/
.payment_clients_area.Inte_cus_ptb {
    background: #fafbff;
    padding: 130px 0 280px;
    position: relative;
    overflow: hidden;
}

/*===========header tree with header six navbar ===========*/

.header_area.header_area_three.navbar_fixed .menu_four .btn_get {
    color: #fff;
}

.header_area.header_area_three.navbar_fixed .menu_four .btn_get:hover {
    color: #5e2ced;
}

/*===========call-to-action ===========*/

.call_action_area.Call_Ele_Cu:before {
    background: none;
}

.payment_action_area.pay_ele_cus {
    padding: 120px 0;
}

/*===========pagination-page-cus ===========*/
.ele_pagi_cus {
    padding: 120px 0;
}

.ele_pagi_cus .job_listing {
    margin-top: 0;
}

.ele_pa_cus2 {
    padding: 120px 0;
}

.agency_about_area.cusPtb_hesix {
    padding: 120px 0;
}

.Cus_acc .tab-pane .card:last-child {
    border-bottom: none;
}

.cus_bttn h2 {
    color: #222d39;
    margin: 0 auto 20px;
    text-align: center;
    font: 600 40px "Poppins", sans-serif;
}

.cus_bttn p {
    margin: 0 auto 40px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.section_container .intro_content h1.sub_hecu {
    font-size: 40px;
    line-height: 50px;
}

.job_listing_area.sec_pad.Job_li_ele {
    padding: 120px 0;
}

.job_listing_area .job_listing.Cus_jobli {
    margin-top: 0;
}

.navbar-brand.sticky_logo {
    padding-top: 0;
}